<! -- 添加版权信息 -->
<hr>
<div class="article-footer-copyright">
<p>本文由&nbsp;<b><%= config.author %></b>&nbsp;创作并首发于&nbsp;<b><a href="<%= config.root %>index.html" target="_blank" title="<%= config.author %>"><%= config.author %>的个人博客</a></b>&nbsp;，同步推送微信公众号：安卓笔记侠（NiaoTech）。</a></p>
 
<p>欢迎各种形式地交流与转载，注明作者、出处和微信公众号即可。</p>
 
<p>本文标题为: <b><a href="<%- config.root %><%- post.path %>" target="_blank" title="<%= post.title %>"><%= post.title %></a></b> </p>
 
<p>本文链接为：<b><a href="<%- config.root %><%- post.path %>" target="_blank" title="<%= post.title %>"><%- config.url %>/<%- post.path %></a></b> </p>

<p><img border="1" style="display:block; margin-left: auto; margin-right: auto;" src="http://blog.ancard.top/NiaoTechNiaoTech_QRcode.jpg"></p>
</div>
<! -- 添加版权信息 -->